# End-to-end Data Science project

## Problem statement
Our (fictional) client is an IT educational institute. They have reached out to us has reach out with the following: “IT jobs and technologies keep evolving quickly. This makes our field to be one of the most interesting out there. But on the other hand, such fast development confuses our students. They do not know which skills they need to learn for which job. “Do I need to learn C++ to be a Data Scientist?” “Do DevOps and System admins use the same technologies?” “I really like JavaScript; can I use it in Data Analytics?” Those are some of the questions that our students ask. Could you please develop a data-driven solution for our students to answer such questions? They mostly want to understand the relationships between the jobs and the technologies.

## Data Exploration

In [1]:
DATA_PATH = '../data/raw/survey_results_public.csv'

In [2]:
import pandas as pd 
import numpy as np
pd.options.display.max_rows = 10000

In [3]:
# Read data and print shape
raw_df = pd.read_csv(DATA_PATH)
raw_df.shape

(83439, 48)

In [15]:
raw_df.sample(1).iloc[0]

ResponseId                                                                  30089
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                     Egypt
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                                        Professional degree (JD, MD, etc.)
Age1stCode                                                          18 - 24 years
LearnCode                       Friend or family member;Online Courses or Cert...
YearsCode                                                                       4
YearsCodePro                                                                   17
DevType                         Developer, mobile;Developer, front-end;Develop...
OrgSize                                                        10 to 19 employees
Currency                                                      EGP\tEgyptian pound
CompTotal                                                                     NaN
CompFreq                                                                  Monthly
LanguageHaveWorkedWith                 C#;C++;Crystal;HTML/CSS;JavaScript;SQL;VBA
LanguageWantToWorkWith                            Dart;Java;Kotlin;Node.js;Python
DatabaseHaveWorkedWith                          Microsoft SQL Server;MySQL;SQLite
DatabaseWantToWorkWith                 Firebase;IBM DB2;MongoDB;Oracle;PostgreSQL
PlatformHaveWorkedWith                                            Microsoft Azure
PlatformWantToWorkWith          AWS;Google Cloud Platform;IBM Cloud or Watson;...
WebframeHaveWorkedWith                                     ASP.NET;Express;jQuery
WebframeWantToWorkWith          Angular;Angular.js;ASP.NET Core ;Django;Larave...
MiscTechHaveWorkedWith                              .NET Framework;Flutter;Hadoop
MiscTechWantToWorkWith                    .NET Core / .NET 5;Cordova;React Native
ToolsTechHaveWorkedWith                                        Docker;Git;Xamarin
ToolsTechWantToWorkWith                              Docker;Git;Terraform;Xamarin
NEWCollabToolsHaveWorkedWith    Android Studio;Eclipse;IntelliJ;NetBeans;Neovi...
NEWCollabToolsWantToWorkWith    Android Studio;PyCharm;Visual Studio;Visual St...
OpSys                                                                     Windows
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                  A few times per week
SOAccount                                                 Not sure/can't remember
SOPartFreq                                                                    NaN
SOComm                                                                   Not sure
NEWOtherComms                                                                  No
Age                                                               35-44 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                Prefer to self-describe:
Ethnicity                                                          Middle Eastern
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                             Neither easy nor difficult
ConvertedCompYearly                                                           NaN
Name: 30088, dtype: object

### Noticed some columns that need to be processed for our analysis
* Each value in columns like devtyp column need to be separeted by the semicolumn

In [16]:
# print general information of the dataframe
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

### Observations
* some columns that are parsed as object while it supposed to be float

In [22]:
# Invistegate some quistionable columns
cols = ["YearsCodePro","YearsCode"]

for col in cols:
    print(col)
    print(raw_df[col].unique().tolist())
    print("-"*70)
    print()

YearsCodePro
[nan, '10', '4', '5', '6', '2', '30', '9', '18', '12', '21', '1', '16', 'Less than 1 year', '15', '3', '35', '7', '8', '17', '14', '26', '25', '20', '50', '34', '11', '24', '22', '13', '31', '23', '39', '41', '27', '28', '19', '33', 'More than 50 years', '37', '29', '32', '43', '40', '38', '45', '42', '46', '36', '44', '47', '48', '49']
----------------------------------------------------------------------

YearsCode
[nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9', '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22', '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38', 'More than 50 years', '27', '41', '42', '35', '23', '28', '11', '37', '44', '43', '36', '33', '45', '29', '50', '46', '32', '47', '49', '48']
----------------------------------------------------------------------

As we can see here these columns "YearsCodePro" & "YearsCode" have some values that needs our intervention as it cant be float

## Summing up what we need to be preprocessed 
* Parse columns that need to be changed to float.
* Replace values of "YearsCodePro" & "YearsCode" columns.